# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

swagger/v1/swagger.yaml linguist-generated
.idea/runConfigurations/*.xml linguist-generated
*.iml linguist-generated
Gemfile.lock linguist-generated


# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
